body {
  font-family: "KievitWeb", "Helvetica Neue", HelveticaNeue, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #455860; }
  body h1, body h2, body h3, body h4, body h5, body h6 {
    font-family: inherit;
    color: inherit; }
  body a {
    text-decoration: none;
    font-weight: 600;
    color: #6AAE00; }
    body a:hover {
      color: #548b00;
      border-color: transparent !important; }
  body header {
    margin-top: 100px;
    margin-bottom: 40px;
    text-align: center; }
    body header h1 {
      text-indent: -9999px;
      display: block;
      vertical-align: middle;
      width: 130px;
      height: 110px;
      background: url(rhinoe.svg) no-repeat;
      background-size: 100%;
      -webkit-background-size: 100%;
      margin: 0 auto;
      margin-bottom: 20px; }
    body header hgroup {
      display: inline-block;
      vertical-align: middle;
      margin-top: -5px; }
      body header hgroup h2 {
        padding: 0;
        font-size: 30px;
        line-height: 36px;
        font-weight: 600;
        display: inline-block;
        vertical-align: baseline; }
      body header hgroup h3 {
        padding: 0;
        font-size: 23px;
        line-height: 36px;
        font-weight: 200;
        display: block;
        vertical-align: baseline;
        color: #949fa2;
        text-transform: uppercase;
        margin-top: -10px; }
  body #content {
    text-align: center; }
    body #content h1#intro {
      margin-bottom: 36px;
      font-size: 34px;
      line-height: 50px; }
      body #content h1#intro span {
        font-weight: 600; }
    body #content strike {
      font-weight: 300; }
    body #content p {
      font-size: 24px;
      line-height: 1.7; }
    body #content .availability {
      display: inline-block; }
      body #content .availability.available {
        color: #6baf4e; }
        body #content .availability.available a {
          color: #6baf4e; }
      body #content .availability.not-available {
        color: #cccccc; }
        body #content .availability.not-available a {
          color: #cccccc; }
    body #content .ss-github {
      color: #171515; }
      body #content .ss-github:before {
        margin: 0;
        position: relative;
        top: 6px;
        line-height: 0; }
    body #content .ss-twitter {
      color: #2ca9e1; }
      body #content .ss-twitter:before {
        margin: 0 4px 0 2px;
        position: relative;
        top: 4px;
        line-height: 0; }
    body #content .ss-facebook {
      color: #3b5998; }
      body #content .ss-facebook:before {
        margin: 0 1px 0 -2px;
        position: relative;
        top: 3px;
        line-height: 0; }
    body #content .ss-spotify {
      color: #8eb736; }
      body #content .ss-spotify:before {
        margin: 0 0 0 -3px;
        position: relative;
        top: 4px;
        font-size: 30px;
        line-height: 0; }
    body #content .ss-linkedin {
      color: #0e76a8; }
      body #content .ss-linkedin:before {
        margin: 0 8px 0 3px;
        position: relative;
        top: 0px;
        line-height: 0; }
    body #content .ss-mail {
      color: #5c9643; }
      body #content .ss-mail:before {
        margin: 0 8px 0 0;
        position: relative;
        top: 3px;
        font-size: 21px; }

/* #Media Queries
================================================== */
/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
  br {
    display: none; } }
/* Tablet Portrait size to standard 960 (devices and browsers) */
/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  header h1 {
    display: block !important;
    margin: 80px auto 20px auto !important; }
  header hgroup h2, header hgroup h3 {
    display: none !important; }

  #content {
    margin-bottom: 80px; }
    #content h1#intro {
      font-size: 28px !important;
      line-height: 1.4 !important; }
      #content h1#intro a .logo {
        display: none !important; }
    #content p {
      font-size: 20px !important;
      line-height: 1.5 !important; }
      #content p .ss-dribbble:before, #content p .ss-twitter:before, #content p .ss-facebook:before, #content p .ss-instagram:before, #content p .ss-foursquare:before, #content p .ss-spotify:before, #content p .ss-mail:before {
        font-size: 18px; }
      #content p .ss-twitter:before {
        top: 3px; }
      #content p .ss-facebook:before {
        top: 1px; }
      #content p .ss-instagram:before {
        font-size: 16px;
        top: 2px; }
      #content p .ss-foursquare:before {
        font-size: 22px;
        margin-right: 5px; }
      #content p .ss-spotify:before {
        font-size: 20px;
        top: 1px; }
      #content p .ss-soundcloud:before {
        font-size: 26px;
        top: 8px; }
      #content p.available {
        line-height: 1.3 !important; } }
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */